<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Favicon -->
    <link href="/assets/img/brand/favicon.ico" rel="icon" >

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    {{ style('https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.css')}}
    {{ style('/assets/css/wifi/site.css')}}
    <!-- CSS Files -->
    <link href="/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!--  <link href="/slick-1.8.1/slick/slick.css" rel="stylesheet">  -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="/slick-1.8.1/slick/slick-theme.css" rel="stylesheet">

    <title>wifianywhere Dashboard</title>

    <link href='/fullcalendar-4.3.1/packages/core/main.css' rel='stylesheet' />
  <link href='/fullcalendar-4.3.1/packages/daygrid/main.css' rel='stylesheet' />
  <link href='/fullcalendar-4.3.1/packages/timegrid/main.css' rel='stylesheet' />
  <link href='/fullcalendar-4.3.1/packages/list/main.css' rel='stylesheet' />
  <script src='/fullcalendar-4.3.1/packages/core/main.js'></script>
  <script src='/fullcalendar-4.3.1/packages/interaction/main.js'></script>
  <script src='/fullcalendar-4.3.1/packages/daygrid/main.js'></script>
  <script src='/fullcalendar-4.3.1/packages/timegrid/main.js'></script>
  <script src='/fullcalendar-4.3.1/packages/list/main.js'></script>
  <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
          },
          defaultDate: '2019-08-12',
          navLinks: true, // can click day/week names to navigate views
          businessHours: true, // display business hours
          editable: false,
          events: [
            {
              title: 'Business Lunch',
              start: '2019-08-03T13:00:00',
              constraint: 'businessHours'
            },
            {
              title: 'Meeting',
              start: '2019-08-13T11:00:00',
              constraint: 'availableForMeeting', // defined below
              color: '#257e4a'
            },
            {
              title: 'Conference',
              start: '2019-08-18',
              end: '2019-08-20'
            },
            {
              title: 'Party',
              start: '2019-08-15T20:00:00',
              end: '2019-08-25'
            },

            // areas where "Meeting" must be dropped
            {
              groupId: 'availableForMeeting',
              start: '2019-08-11T10:00:00',
              end: '2019-08-11T16:00:00',
              rendering: 'background'
            },
            {
              groupId: 'availableForMeeting',
              start: '2019-08-13T10:00:00',
              end: '2019-08-13T16:00:00',
              rendering: 'background'
            },

            // red areas where no events can be dropped
            {
              start: '2019-08-24',
              end: '2019-08-28',
              overlap: false,
              rendering: 'background',
              color: '#ff9f89'
            },
            {
              start: '2019-08-06',
              end: '2019-08-08',
              overlap: false,
              rendering: 'background',
              color: '#ff9f89'
            }
          ]
        });

        calendar.render();
      });

    </script>

</head>
<body class="">

@include('partes/navbar')

<div class="main-content">
 <!-- Navbar -->
 <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/">{{Lugar}}</a>
      <!-- Form -->
      <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Pesquisar" type="text">
          </div>
        </div>
      </form>
      <!-- User -->
      <ul class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <!--  <img alt="Image placeholder" src="./assets/img/theme/team-4-800x800.jpg">  -->

                @if(auth.user.avatar)
                <img alt="user image" src="{{auth.user.avatar}}">
                @else
                <img alt="user image" src="/assets/img/brand/user.svg" >
                @endif
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">{{auth.user.username}} <i class="ni ni-bold-down"></i></span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Benvindo!</h6>
            </div>
            <a href="/user/{{auth.user.id}}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Meu Perfil</span>
            </a>
            <a href="/user/senha/{{auth.user.id}}" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Mudar senha</span>
            </a>
            <a href="/user/logs/{{auth.user.id}}" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Atividade</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="/logout" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->


    @!section('content')

    @include('partes/footer')

  </div>
</div>


    <!--   Core   -->
  <script src="/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
  <script src="/assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <!--   Argon JS   -->
  <!--<script src="/assets/js/argon-dashboard.min.js?v=1.1.0"></script>-->
  <script src="/assets/js/argon-dashboard.js"></script>

  {{ script('//cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.js') }}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  {{ script('/site.js') }}
  {{--  {{ script('/slick-1.8.1/slick/slick.min.js') }}  --}}
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
