@import 'color';

#idiot {
    min-height: 382px !important;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

#infore {
    .card-body {
        margin-left: 2%;
    }
}

#reservainfo {
    div {
        label {
            color: $cinza;
            // text-transform: uppercase;
        }
        p {
            margin-left: 2%;
        }
    }
    img {
        width: 100%;
    }
}

#pper {
    color: $branco;
}