@import 'color';

#idiot {
    min-height: 382px !important;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

#infore {
    .card-body {
        margin-left: 2%;
    }
}

#reservainfo {
    div {
        label {
            color: $cinza;
            // text-transform: uppercase;
        }
        p {
            margin-left: 2%;
        }
    }
    img {
        width: 100%;
    }
}

#pper {
    color: $branco;
}

.bodi{
    padding: 0 !important;
  }

input[type="file"]{
    display: none;
}

#fakefile {
    cursor: pointer;
}

.pd span{
    font-size: 1.1rem;
    font-weight: bold;
}
#reinfo{
    width: 100%;
    height: 100%;
}